include ../inc/_nav-list.jade
extends ../inc/_head.jade

block title
	title Threejs helper02 Sample02

block content
	h1 Threejs

	mixin list(1)

	div#canvas

	include ../inc/_script-sets.jade
	script.
		window.addEventListener("DOMContentLoaded", function(){
			var scene,geometry,material,cubeMesh,pointLight,renderer;
			var canvas = document.getElementById("canvas");

			// カメラを用意
			var width  = canvas.clientWidth,
					height = window.innerHeight;

			camera = new THREE.PerspectiveCamera(45, width/height, 1, 1000);
			camera.position.set(0, 0, 100);

			// シーンの準備
			scene = new THREE.Scene();

			// ジオメトリーの作成
			geometry = new THREE.BoxGeometry(20, 20, 20);

			// マテリアルの作成
			material = new THREE.MeshLambertMaterial({color: 0x660000});

			// メッシュの作成
			cubeMesh = new THREE.Mesh(geometry, material);
			cubeMesh.rotation.x = 2;
			scene.add(cubeMesh);

			// 光源の作成
			pointLight = new THREE.PointLight(0xffffff, 2, 0);
			pointLight.position.set(20, 10, 30);
			scene.add(pointLight);
			pointhelper = new THREE.PointLightHelper(pointLight, 1);
			scene.add(pointhelper);

			// レンダラーを用意
			renderer = new THREE.WebGLRenderer();
			renderer.setSize(width, height);
			canvas.appendChild( renderer.domElement );
			renderer.render(scene, camera);
		});

	:markdown
		## 実装
		基本は[ベース](../index.html)と同じ

		---

		### 光源
		光源はDirectionalLightとPointLightを使用
		```
		// 光源の作成
		pointLight = new THREE.PointLight(0xffffff, 2, 0);
		pointLight.position.set(20, 10, 30);
		scene.add(pointLight);
		```

		> THREE.PointLight(hex, intensity, distance)  
		> [docs - PointLight](http://threejs.org/docs/#Reference/Lights/PointLight)

		---

		### ヘルパー
		```
		pointhelper = new THREE.PointLightHelper(pointLight, 1);
		scene.add(pointhelper);
		```

		> THREE.PointLightHelper(light, sphereSize)  
		> [docs - PointLightHelper](http://threejs.org/docs/#Reference/Lights/PointLight)

		---

		### All Codes
		```
		window.addEventListener("DOMContentLoaded", function(){
			var scene,geometry,material,cubeMesh,pointLight,renderer;
			var canvas = document.getElementById("canvas");

			// カメラを用意
			var width  = canvas.clientWidth,
					height = window.innerHeight;

			camera = new THREE.PerspectiveCamera(45, width/height, 1, 1000);
			camera.position.set(0, 0, 100);

			// シーンの準備
			scene = new THREE.Scene();

			// ジオメトリーの作成
			geometry = new THREE.BoxGeometry(20, 20, 20);

			// マテリアルの作成
			material = new THREE.MeshLambertMaterial({color: 0x660000});

			// メッシュの作成
			cubeMesh = new THREE.Mesh(geometry, material);
			cubeMesh.rotation.x = 2;
			scene.add(cubeMesh);

			// 光源の作成
			pointLight = new THREE.PointLight(0xffffff, 2, 0);
			pointLight.position.set(20, 10, 30);
			scene.add(pointLight);
			pointhelper = new THREE.PointLightHelper(pointLight, 1);
			scene.add(pointhelper);

			// レンダラーを用意
			renderer = new THREE.WebGLRenderer();
			renderer.setSize(width, height);
			canvas.appendChild( renderer.domElement );
			renderer.render(scene, camera);
		});
		```