include ./../inc/_nav-list.jade
extends ../inc/_head.jade

block title
	title Threejs cube01 Sample

block content
	h1 キューブを複数描画

	mixin list(1)

	include ../inc/_script-sets.jade
	script
		:coffee
			requestAnimationFrame = window.requestAnimationFrame ||
															window.mozRequestAnimationFrame ||
															window.webkitRequestAnimationFrame ||
															window.msRequestAnimationFrame
			window.requestAnimationFrame = requestAnimationFrame

			window.addEventListener "DOMContentLoaded", ->
				Webgl.init()

			class Webgl
				@init = ->
					console.log requestAnimationFrame
					# param
					@width = window.innerWidth
					@height = window.innerHeight

					# func
					@initCamera()
					@createScene()
					@helper()
					@initMaterial()
					@renderFuc()
				
				###
				 * カメラの設定
				###
				@initCamera = ->
					fov = 45
					aspect = @width / @height
					near = 1
					fav = 1000

					@camera = new THREE.PerspectiveCamera fov, aspect, near, fav
					@camera.position.set 50, 50, 150
					@camera.up.set 0, 0, 1
					@camera.lookAt {x: 0, y: 0, z: 0}

				###
				 * シーンの作成
				###
				@createScene = ->
					@scene = new THREE.Scene

					#グループの追加
					@group = new THREE.Group
					@scene.add @group

				###
				 * 軸ヘルパー
				###
				@helper = ->
					axis = new THREE.AxisHelper 100
					axis.position.set 0, 0, 0
					@group.add axis

				###
				 * メッシュの作成
				###
				@initMaterial = ->
					num = 100
					span = 60
					for i in [0...num]
						# ジオメトリーの作成
						boxsize = Math.random() * 10
						geometry = new THREE.CubeGeometry boxsize, boxsize, boxsize

						# マテリアルの作成
						material = new THREE.MeshNormalMaterial

						@cube = new THREE.Mesh geometry, material
						# 正座標に発生させ、原点に半分戻す
						@cube.position.x = Math.random() * span - span/2
						@cube.position.y = Math.random() * span - span/2
						@cube.position.z = Math.random() * span - span/2
						@group.add @cube

				###
				 * レンダラーの作成
				###
				@renderFuc = ->
					@renderer = new THREE.WebGLRenderer
					@renderer.setSize @width, @height
					document.body.appendChild @renderer.domElement
					@renderer.render @scene, @camera
					@animation()

				@animation = ->
					@camera.rotation.z += 0.002;
					@renderer.render @scene, @camera
					requestAnimationFrame @animation.bind @

