include ./../inc/_nav-list.jade
extends ../inc/_head.jade

block title
	title Threejs cube01 Sample

block content
	h1 キューブの描画

	mixin list(1)

	script(src="../common/threejs/build/three.min.js")
	script(src="../js/cube/app01.js")