include ./../inc/_nav-list.jade
extends ../inc/_head.jade

block title
	title Threejs Other Objuct Plane Sample

block content
	h1 平面の描画

	mixin list(1)

	include ../inc/_script-sets.jade
	script
		:coffee
			window.addEventListener "DOMContentLoaded", ->
				camera = ""
				scene = ""
				renderer = ""

				init = ->
					width = document.body.clientWidth
					height = window.innerHeight
					fov = 45
					aspect = width / height
					near = 1
					fav = 1000

					###
					 * カメラの設定
					###
					camera = new THREE.PerspectiveCamera fov, aspect, near, fav
					camera.position.set 50, 50, 200
					camera.up.set 0, 0, 1
					camera.lookAt {x: 0, y: 0, z: 0}


					###
					 * シーンの作成
					###
					scene = new THREE.Scene


					###
					 * 軸ヘルパーの作成
					###
					axis = new THREE.AxisHelper 150
					axis.position.set 0, 0, 0
					scene.add axis


					###
					 * メッシュの作成
					###

					# ジオメトリーの作成
					geometry = new THREE.PlaneGeometry 100, 100, 10, 10

					# マテリアルの作成
					material = new THREE.MeshNormalMaterial {wireframe: true}

					plane = new THREE.Mesh geometry, material
					scene.add plane


					###
					 * レンダラーの作成
					###
					renderer = new THREE.WebGLRenderer
					renderer.setSize width, height
					document.body.appendChild renderer.domElement
					renderer.render scene, camera

				init()


