doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		block title
			title Sample Threejs
		block css
			link(rel="stylesheet", href="../css/marx.min.css")
			link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
			link(rel="stylesheet", href="../css/style.css")


body
	.menu-bg

	.l-wrapper
		block content
