if path == "root"
	script(src="./src/three.min.js")
	script(src="./src/ConvexGeometry.js")
	script(src="./src/CanvasRenderer.js")
	script(src="./src/Projector.js")
	script(src="./src/cannon.min.js")
	script(src="./src/jquery.min.js")
	script(src="./src/common.js")
else
	script(src="../src/three.min.js")
	script(src="../src/ConvexGeometry.js")
	script(src="../src/CanvasRenderer.js")
	script(src="../src/Projector.js")
	script(src="../src/cannon.min.js")
	script(src="../src/jquery.min.js")
	script(src="../src/common.js")