@charset "UTF-8";
/*===== color ===== */
/*===== padding ===== */
/*===== font ===== */
/*===== uniqe ===== */
.l-wrapper {
  padding: 15px;
}

.menu-bg {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 0;
  position: fixed;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.menu-bg.is-active {
  height: 100%;
}

.nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: -220px;
  -webkit-transition: all 0.3s ease 0.3s;
          transition: all 0.3s ease 0.3s;
}
.nav.is-active {
  left: 0;
}
.nav .menu-icon {
  background: #512e90;
  display: block;
  width: 45px;
  height: 100%;
  position: absolute;
  right: -45px;
}
.nav .menu-icon:after {
  content: "";
  color: #fff;
  font-family: ionicons;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 14px;
}
.nav ul {
  background: #673AB7;
  width: 220px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: scroll;
}
.nav a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 7px 15px;
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
.nav a:hover {
  background: #512e90;
  color: #fff;
}

body {
  margin-left: 45px;
}

h1 {
  margin-top: 0;
}

hr {
  margin: 45px 0;
}
